[project]
name = "holobench"
version = "1.26.3"

authors = [{ name = "Austin Gregg-Smith", email = "blooop@gmail.com" }]
description = "A package for benchmarking the performance of arbitrary functions"
readme = "README.md"

dependencies = [
  "holoviews>=1.15,<=1.19.0",
  "numpy>=1.0,<=1.26.4",
  "param>=1.13.0,<=2.1.0",
  "hvplot>=0.8,<=0.10.0",
  "matplotlib>=3.6.3,<=3.9.0",
  "panel>=1.3.6,<=1.4.4",
  "diskcache>=5.6,<=5.6.3",
  "optuna>=3.2,<=3.6.1",
  "xarray>=2023.7,<=2024.6.0",
  "plotly>=5.15,<=5.22.0",
  "sortedcontainers>=2.4,<=2.4",
  "pandas>=2.0,<=2.2.2",
  "strenum>=0.4.0,<=0.4.15",
  "scikit-learn>=1.2,<=1.5.0",
  "str2bool>=1.1,<=1.1",
  "scoop>=0.7.0,<=0.7.2.0",
  "moviepy>=1.0.3,<=1.0.3",
]

[tool.pixi.project]
channels = ["conda-forge"]
platforms = ["linux-64"]

[tool.pixi.dependencies]
python = ">=3.10"


[tool.pixi.feature.py310.dependencies]
python = "3.10.*"
[tool.pixi.feature.py311.dependencies]
python = "3.11.*"

[tool.pixi.pypi-dependencies]
bencher = { path = ".", editable = true }

[tool.pixi.feature.devenv.pypi-dependencies]
deps-rocker = ">=0.2"

[project.optional-dependencies]
test = [
  "black>=23,<=24.4.2",
  "pylint>=2.17.7,<=3.2.3",
  "pytest-cov>=4.1,<=5.0.0",
  "pytest>=7.4,<=8.2.2",
  "hypothesis>=6.82,<=6.103.2",
  "ruff>=0.0.280,<=0.4.9",
  "coverage>=7.2.7,<=7.5.3",
]

[project.urls]
Repository = "https://github.com/dyson-ai/bencher"
Home = "https://github.com/dyson-ai/bencher"
Documentation = "https://bencher.readthedocs.io/en/latest/"

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
include = ["bencher"]

# Environments
[tool.pixi.environments]
default = { features = ["test"], solve-group = "default" }
py310 = ["py310", "test"]
py311 = ["py311", "test"]
devenv = ["devenv"]

[tool.pixi.feature.devenv.tasks]
code = "scripts/launch_vscode.sh"

[tool.pixi.tasks]
format = "black ."
check-clean-workspace = "git diff --exit-code"
ruff-lint = "ruff check . --fix"
pylint = "pylint --version && echo 'running pylint...' && pylint $(git ls-files '*.py')"
lint = { depends_on = ["ruff-lint", "pylint"] }
style = { depends_on = ["format", "lint"] }
commit-format = "git commit -a -m'autoformat code'"
test = "pytest"
coverage = "coverage run -m pytest && coverage xml -o coverage.xml"
coverage-report = "coverage report -m"
update-lock = "pixi update && git commit -a -m'update pixi.lock'"
fix = { depends_on = ["update-lock", "format", "ruff-lint"] }
push = "git push"
update-lock-push = { depends_on = ["update-lock", "push"] }
fix-commit-push = { depends_on = ["fix", "commit-format", "update-lock-push"] }

ci-no-cover = { depends_on = ["style", "test"] }
ci = { depends_on = [
  "format",
  "ruff-lint",
  "check-clean-workspace",
  "pylint",
  "coverage",
  "coverage-report",
] }
ci-push = { depends_on = ["format", "ruff-lint", "update-lock", "ci", "push"] }
clear-pixi = "rm -rf .pixi pixi.lock"

[tool.pylint]
extension-pkg-whitelist = ["numpy", "scipy"]
jobs = 16                                    #detect number of cores

[tool.pylint.'MESSAGES CONTROL']
disable = "C,logging-fstring-interpolation,line-too-long,fixme,missing-module-docstring,too-many-instance-attributes,too-few-public-methods,too-many-arguments,too-many-locals,too-many-branches,too-many-statements,use-dict-literal,duplicate-code,too-many-public-methods,too-many-nested-blocks,cyclic-import"
enable = "no-else-return,consider-using-in"

[tool.black]
line-length = 100

[tool.ruff]
line-length = 100 # Same as Black.

target-version = "py310"

[tool.ruff.lint]
# Never enforce `E501` (line length violations).
#"F841" will auto remove unused variables which is annoying during development, pylint catches this anyway
ignore = ["E501", "E902", "F841"]
# Allow unused variables when underscore-prefixed.
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

# Ignore `E402` (import violations) in all `__init__.py` files, and in `path/to/file.py`.
[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["E402", "F401"]


[tool.coverage.run]
omit = ["*/test/*", "__init__.py"]

[tool.coverage.report]
exclude_also = [
  "def __repr__",
  "if False:",
  "if 0:",
  "raise AssertionError",
  "raise NotImplementedError",
  "if __name__ == .__main__.:",
  "pass",
  "(_):",
]
