#data managment
pandas
xarray
param
numpy
strenum

#data storage
diskcache

#plotting
seaborn
matplotlib
panel
hvplot==0.8.4
plotly
optuna
scikit-learn #needed by optuna 

#testing
pytest
pytest-cov  
hypothesis
str2bool
black==23.3.0
ruff