#data managment
pandas==2.0.2
xarray
param
numpy
strenum

#data storage
diskcache

#plotting
seaborn==0.12.2
matplotlib==3.7.1
panel
hvplot
plotly
optuna
scikit-learn #needed by optuna 

#testing
pytest
pytest-cov  
hypothesis
str2bool
black==23.3.0
mypy
