#data managment
pandas
xarray
numpy
strenum

#data storage
diskcache

#plotting
seaborn
matplotlib
hvplot==0.8.4
plotly
optuna
scikit-learn #needed by optuna 

#testing
pytest
pytest-cov  
hypothesis
str2bool
black==23.7.0
ruff