.wy-nav-content {
    max-width: none !important;
    overflow-x: scroll !important;
    /* always show horizontal scrollbar */
    overflow-y: auto !important;
    /* preserve normal vertical scrolling */
}