name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]  

permissions:
  contents: read

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        environment: [py310, py311, py312]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.8.1
        with:
          cache: true
          frozen: true
          environments: ${{ matrix.environment }}
      - name: CI
        run: |
          pixi run -e ${{ matrix.environment }} ci 
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}